#pragma code_page(65001)

#define APSTUDIO_READONLY_SYMBOLS
#include "windows.h"
#include "version.h"
#include "resource.hpp"
#undef APSTUDIO_READONLY_SYMBOLS

VS_VERSION_INFO VERSIONINFO
FILEVERSION VERSION_FILE_RC
PRODUCTVERSION VERSION_PRODUCT_RC
FILEFLAGSMASK 0x3fL
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904b0"
BEGIN
VALUE "FileDescription", "CoDMP.exe"
VALUE "InternalName", "CoDMP.exe"
VALUE "OriginalFilename", "CoDMP.exe"
VALUE "ProductName", "CoDMP.exe"
END
END
END

ID_ICON			ICON   "resources/icon.ico"
MENU_MAIN		RCDATA "resources/main.html"
